{
  "extends": "eslint:recommended",
  "plugins": [],
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "require": true
  }
}
